<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Actualizar</title>
</head>
<body>
Actualizar datos de jugador: <span th:text="${nombre}">Nombre</span>
<form action="#" th:action="@{/actualizar/{id}(id=${id})}" th:object="${jActualizado}"
      method="post" />
<label for="peso">Peso</label>
<input type="number" step="any" th:field="*{jActualizado.peso}" id="peso">
<label for="direccion">Dirección</label>
<input type="text" th:field="*{jActualizado.direccion}" id="direccion">
<label for="provincia">Provincia</label>
<input type="text" th:field="*{jActualizado.provincia}" id="provincia">
<label for="canton">Cantón</label>
<input type="text" th:field="*{jActualizado.canton}" id="canton">
<label for="canton">distrito</label>
<input type="text" th:field="*{jActualizado.distrito}" id="distrito">
<label for="telefono">Telefono</label>
<input type="text" th:field="*{jActualizado.telefono}" id="telefono">
<label for="email">Email</label>
<input type="text" th:field="*{jActualizado.email}" id="email">
<input type="submit" value="Actualizar Datos">
</form>
</body>
</html>